:root {
    --black: rgba(0, 0, 0, 1.0);
    --almostblack: rgba(60, 60, 60, 1.0);
    --transblack: rgba(0, 0, 0, 0.8);
}

.container-main, div.content {
    background-color: var(--black) !important;
}

.left-col-list {
    margin: auto;
    background-color: var(--almostblack) !important;
    border-radius: 8px;
}

.rbx-left-col {
    border-radius: 8px;
    top: 52px;
    left: 8px;
    backdrop-filter: blur(8px);
    background-color: var(--transblack) !important;
    height: auto;
    
}

.rbx-upgrade-now { 
    display: none;
}

.rbx-header {
    backdrop-filter: blur(8px);
    background-color: var(--transblack) !important;
}

.game-card-link {
    height: 100%;
    border-radius: 8px;
    padding: 2px;
    border: rgba(255, 255, 255, 0) solid 1px;
    background-color: var(--almostblack) !important;
    transition: 0.2s;
}
.game-card-link:hover {
    -webkit-box-shadow: 0px 0px 8px 2px #FFFFFF; 
    box-shadow: 0px 0px 8px 2px #FFFFFF;    
    height: 100%;
    border-radius: 8px;
    padding: 2px;
    background-color: var(--black) !important;
    border: white solid 1px;
}

.game-carousel {
    padding: 16px;
    padding: 16px;
}

.game-home-page-container, .game-carousel, .place-list-container, .home-container {
    width: 100% !important;
    max-width: none;
}

.game-card-friend-info {
    border: var(--almostblack) !important;
}
